.serchIput {
  box-sizing: border-box;
  width: 726px;
  height: 50px;
  text-align: center;
  color: #999999;
  font-size: 14px;
  outline: none;
  border-radius: 4px 0 0 4px;
  border: 1px solid #DBDBDB;
  box-shadow: 0 2px 6px 0 #E7E7E7;
}

.serchIput:hover {
  box-sizing: border-box;
  width: 726px;
  height: 50px;
  text-align: center;
  font-size: 14px;
  outline: none;
  border-radius: 4px 0 0 4px;
  border: 1px solid #008CFF;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #999999;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #999999;
}

.serchButton {
  border: solid 1px #008CFF;
  box-sizing: border-box;
  display: inline-block;
  width: 126px;
  height: 50px;
  background: #008CFF;
  border-radius: 0 4px 4px 0;
  vertical-align: top;
  margin-left: -6px;
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.jobText {
  display: inline-block;
  width: 60px;
  text-align: center;
  font-size: 12px;
}

.jobTextTitle {
  display: inline-block;
  width: 60px;
  text-align: center;
  font-size: 12px;
}

.jobText:hover {
  color: #008CFF;
  text-decoration: underline;
  /* border-bottom: 1px solid #008CFF; */
}

.serch {
  box-shadow: 0 4px 6px 0 #E7E7E7;
  width: 719px;
  left: 298px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
}

.searchInner {
  margin: 20px;
  width: 650px;
  cursor: pointer;
}

.hotSearch {
  font-size: 12px;
  line-height: 36px;
  height: 36px;
  color: #555555;
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 7px;
}

.LineList {
  margin-left: -12px;
}

.serchWrap {
  position: relative;
}