.uploadResumeWrap{
    background: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    width:1200px;
    height:663px;
    margin:0 auto;
}
/*头部bannaer*/
.uploadResumeTop{
    width:1200px;
    height:80px;
}
.uploadResumeTopImg{
    border-radius: 4px 4px 0 0;
    width:1200px;
    height:80px;
}
/*中间点击上传简历按钮部分*/
.uploadResumeCenter{
    background: #FFFFFF;
    width:1200px;
    height: 80px;
    border-bottom: 1px solid  #E5E7E9;
}
/*下拉列表*/
.selectWrap{
    width:310px;
    height:40px;
    float: right;
    margin-top:20px;
    margin-right:20px;
    color: #C4CED8;
}
/*上传简历按钮*/
.uploadBtn{
    background: #008CFF;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.05);
    border-radius: 4px;
    width:170px;
    height:40px;
    text-align: center;
    line-height:40px;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-top:20px;
}
.uploadBtnNo{
  background: #6D707A;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.05);
  border-radius: 4px;
  width:170px;
  height:40px;
  text-align: center;
  line-height:40px;
  font-size: 14px;
  color: #FFFFFF;
  float: right;
  margin-right: 20px;
  margin-top:20px;
}
/*下面改变了table组件的样式*/
.tableWrap{
  height:500px;
  overflow-y: auto;
}

/*历史列表table隐藏头部*/
.uploadstatusList thead{
  display:none;
}
.tableWrap table thead tr td {
    padding:0px;
    text-align: center;
    height:55px;
    line-height: 55px;
    width:25%;
}
.tableWrap table thead tr td:first-child{
    width:15%;
}
.tableWrap table thead tr td:nth-child(2){
    width:35%;
}
.tableWrap table thead tr td:nth-child(3){
    width:35%;
}
.tableWrap table thead tr td:last-child{
    width:15%;
}
.tableWrap table tbody tr td:first-child{
  width:15%;
}
.tableWrap table tbody tr td:nth-child(2){
  width:35%;
}
.tableWrap table tbody tr td:nth-child(3){
  width:35%;
}
.tableWrap table tbody tr td:last-child{
  width:15%;
}
.tableWrap table tbody tr td {
    margin-top: 0px;
    height: 55px;
    line-height:55px;
    text-align: center;
    padding-right: 0px;
}
/*table内样式改变*/
.upFilename{
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #333333;
    margin:0 auto;
}
.successIcon  {
    position: relative;
    width: 140px;
    margin:0 auto;
    height:55px;

}
.successIcon:after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
.successIcon img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 30px;
    margin: auto;
}
.successIcon  .load{
    width:20px;
    height:20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 30px;
    margin: auto;
}
.successIcon span{
    height: 55px;
    line-height: 55px;
    position: absolute;
    margin: auto;
    right: 28px;
    bottom: 0px;
    top: 0px;
    display: inline-block;
    width:70px;
    font-size: 12px;
    color: rgba(0,0,0,0.78);
}
/*j简历列表为空转台的时候*/
.noneUploadRuseme{
  font-size: 18px;
  color: #454C56;
  letter-spacing: 3.03px;
  text-align: center;
  margin-top:175px;
}



/*下面是加载css3loading*/
.ring2 {
    position: relative;
    width: 12px;
    height: 12px;
    margin: 0 auto;
    border: 2px solid rgba(0,0,0,0.54);;
    border-radius: 100%;
}
.ballHolder {
    position: absolute;
    width: 6px;
    height: 8px;
    left: 3px;
    top: 2px;
}
.ball {
    position: absolute;
    top: -5px;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background:rgba(0,0,0,0.54);;
}
.load .ballHolder {
    animation: loading 1.0s linear infinite;
    -webkit-animation:loading 1.0s linear infinite;
    -moz-animation:loading 1.0s linear infinite;
    -o-animation:loading 1.0s linear infinite;
}

@keyframes loading {
    0 {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@-moz-keyframes loading {
    0 {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@-webkit-keyframes loading {
    0 {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@-o-keyframes loading {
    0 {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
